In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.Series(np.random.randn(5))

0    1.622530
1    1.133372
2   -1.233569
3   -1.863751
4   -0.760692
dtype: float64

In [3]:
pd.Series(np.random.randn(5),index=['a','b','c','d','e'])

a   -1.478208
b   -0.333731
c   -0.998996
d    1.961342
e   -0.320715
dtype: float64

In [4]:
d={'A':10,'B':20,'C':30}
pd.Series(d)

A    10
B    20
C    30
dtype: int64

In [5]:
#DataFrame
d={'c1':pd.Series(['a','b','c']),
  'c2':pd.Series([1,2,3,4])}

In [6]:
d

{'c1': 0    a
 1    b
 2    c
 dtype: object, 'c2': 0    1
 1    2
 2    3
 3    4
 dtype: int64}

In [7]:
df=pd.DataFrame(d)

In [8]:
df

    c1  c2
0    a   1
1    b   2
2    c   3
3  NaN   4

In [9]:
d={'c1':['a','b','c','d'],
  'c2':[1,2,3,4]}

In [10]:
d

{'c1': ['a', 'b', 'c', 'd'], 'c2': [1, 2, 3, 4]}

In [11]:
df=pd.DataFrame(d)

In [12]:
df

  c1  c2
0  a   1
1  b   2
2  c   3
3  d   4

In [13]:
#Panel

In [17]:
 d = {'Item1': pd.DataFrame(np.random.randn(4, 3)),    
      'Item2': pd.DataFrame(np.random.randn(4, 2))}

In [18]:
d

{'Item1':           0         1         2
 0  0.578048  0.928442  0.280355
 1 -0.420582  0.986230  0.477523
 2  0.134481 -0.041179 -1.674735
 3 -2.576525 -0.508579 -1.029499, 'Item2':           0         1
 0 -0.750786 -1.775559
 1  0.336893 -0.668192
 2 -1.370147 -0.303225
 3  1.563983  0.856728}

In [21]:
pd.Panel(d)

C:\Users\Vindhyachal\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  """Entry point for launching an IPython kernel.

TypeError: Panel() takes no arguments