In [3]:
import pandas as pd
import numpy as np

In [2]:
df2

NameError: name 'df2' is not defined

In [4]:
df=pd.read_csv('data1.csv')

In [4]:
df

  Unnamed: 0         X         Y         Z
0         a0 -1.129443 -0.071093 -0.536263
1         a1 -0.251922 -1.163274  0.193976
2        a10 -0.069955 -0.908090 -0.781912
3        a11 -0.251922 -1.163274  0.193976
4        a20 -0.755704 -0.556427  0.635330
5        a21 -0.251922 -1.163274  0.193976
6        a30 -0.131948 -2.773040  2.636289
7        a31 -0.251922 -1.163274  0.193976
8        a40  0.827439 -1.507721 -0.983563
9        a41 -0.251922 -1.163274  0.193976

In [6]:
df['X']

0   -1.129443
1   -0.251922
2   -0.069955
3   -0.251922
4   -0.755704
5   -0.251922
6   -0.131948
7   -0.251922
8    0.827439
9   -0.251922
Name: X, dtype: float64

In [10]:
df['Y']

0   -0.071093
1   -1.163274
2   -0.908090
3   -1.163274
4   -0.556427
5   -1.163274
6   -2.773040
7   -1.163274
8   -1.507721
9   -1.163274
Name: Y, dtype: float64

In [11]:
df['X'].mean()

-0.2519221206260974

In [12]:
df['X'].sum()

-2.5192212062609745

In [5]:
df['X'].max()

0.8274393298101285

In [7]:
df['X'].std()

0.49848269872278933